*
    padding: 0
    margin: 0
    box-sizing: border-box

body
    font-family: "Montserrat", "Arial", sans-serif
    font-size: 14px

button:active,
button:focus
    outline: 0

h1,
h2,
h3,
h4,
h5,
h6
    font-family: "Merriweather", "Arial", sans-serif

h1
    font-size: 48px
    line-height: 1.2
    font-weight: 400

h2
    font-size: 24px
    line-height: 1.6
    font-weight: 400

h3
    font-size: 24px
    line-height: 29px
    color: #2E4EA4
    font-weight: bold

h4
    font-size: 24px
    line-height: 1.2
    font-weight: bold

h5
    font-size: 18px
    font-weight: 300
    line-height: 2

h6
    font-size: 14px
    line-height: 1.5
    font-weight: 400


.container
    max-width: 1230px
    padding: 0 15px
    margin: 0 auto

.font-merriweather
    font-family: "Merriweather", "Arial", sans-serif