.header
  padding-top: 27px
  transition: background-color .3s
  &--fixed
    width: 100%
    position: absolute
    top: 0
    left: 0
  &__top
    display: flex
    flex-wrap: wrap
    align-items: center
    min-height: 37px
    margin-bottom: 20px
    z-index: 40
    position: relative
  &__middle
    display: flex
    flex-wrap: wrap
    z-index: 40
    position: relative
  &__bottom
    z-index: 40
    position: relative
  &__button-visually-impaired
    margin-left: auto
  &__search-box
    padding: 0 24px
    margin: 0 auto
    flex-grow: 3
  &__logo
    align-self: center
  &:after
    content: ''
    width: 100%
    height: 0
    position: absolute
    bottom: 0
    left: 0
    z-index: 20
    background-color: #2E4EA4
    transition: all .5s
    transition-timing-function: ease
  &--menu-opened
    &:after
      height: 100%
