.header
    padding-top: 27px
    transition: background-color .3s

.header--fixed
    width: 100%
    position: absolute
    top: 0
    left: 0

.header__top
    display: flex
    flex-wrap: wrap
    align-items: center
    min-height: 37px
    margin-bottom: 20px
    z-index: 65
    position: relative

.header__middle
    display: flex
    flex-wrap: wrap
    z-index: 60
    position: relative
    padding-bottom: 32px

.header__bottom
    z-index: auto
    position: relative

.header__bottom.menu
    padding-top: 0

.header__button-visually-impaired
    margin-left: auto

.header__search-box
    padding: 0 24px
    margin: 0 auto
    flex-grow: 3

.header__logo
    align-self: center

.header--menu-opened .menu__item .menu-link
    opacity: .5

.header--menu-opened .menu__item.opened .menu-link
    opacity: 1
