.link
    display: inline-block
    padding-bottom: 3px
    color: #2E4EA4
    text-decoration: none
    position: relative

.link:after
    content: ''
    width: 100%
    height: 1px
    background-color: #2E4EA4
    position: absolute
    bottom: 0
    left: 0
    transform: scale(0,1)
    transition: all .3s

.link:hover:after
    transform: scale(1,1)

.link--theme-transparent
    color: #fff

.link--theme-transparent:after
    background-color: #fff

.link--theme-dark
    color: #000000

.link--theme-dark:after
    background-color: #000

.link--theme-white
    color: #fff

.link__bar
    font-size: 16px
    font-weight: 600

.link--several-lines:hover:after
    display: none

.link--several-lines
    display: inline
    border-bottom: 1px solid transparent
    transition: all .3s

.link--several-lines:hover
    border-bottom-color: #2E4EA4

.link--several-lines.link--theme-dark:hover
    border-bottom-color: #000

.link--several-lines.link--theme-white:hover
    border-bottom-color: #fff

.link--several-lines.link--theme-transparent:hover
    border-bottom-color: #fff
.link__tag
    padding-left: 9px
    position: relative
    color: #2E4EA4
    font-size: 12px
    line-height: 15px
    font-weight: bold
    margin-right: 3px
    margin-left: 3px

.link__tag:before
    content: '#'
    position: absolute
    top: 0
    left: 0

.link__tag--white
    color: #ffffff

.link__icon
    display: inline-block
    width: 20px
    height: 20px

.link__icon svg
    fill: #2E4EA4
    transition: fill .3s

.link__icon:hover svg
    fill: #2F80ED

.link__icon:hover:after
    display: none

.link__privacy-policy
    opacity: .3
    color: #E3E3E3
    transition: all .3s

.link__privacy-policy:hover
    opacity: 1

.link__privacy-policy:after
    background-color: #E3E3E3

.link__sites
    display: inline-block
    margin-top: auto
