.menu
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    padding: 32px 0
    border-bottom: 1px solid rgba(255,255,255,.2)

.menu__item
    padding: 10px 10px 10px 0
    position: relative

.menu__link
    color: #ffffff
    z-index: 40
    transition: opacity .3s

.menu__link:hover:after
    display: none

.menu__item-inner.menu__link:hover
    opacity: 1

.menu__submenu
    padding: 50px 0 30px

.menu__submenu-box
    width: 50%

.menu__submenu-box .banner-box
    width: 100%
    height: 100%
    padding-bottom: 20px
    display: flex
    justify-content: flex-end
    align-items: center

.menu__submenu-inner
    display: flex
    flex-wrap: wrap

.menu__item-submenu
    display: block
    width: 100vw
    position: fixed
    top: 0
    left: 0
    z-index: 30
    background-color: #2E4EA4
    transform: scale(1,0)
    opacity: 0
    transition: transform .4s, opacity .5s

.menu__submenu-line
    display: block
    width: 100%
    height: 1px
    background-color: rgba(255,255,255,0.2)
    max-width: 1200px
    margin: 0 auto 32px

.menu__item-inner--hover-opener:hover .menu__item-submenu
    opacity: 1
    transform: scale(1,1)

.menu__acco
    display: flex
    flex-wrap: wrap

.menu__submenu-banner
    width: 100%
    height: 100%
    text-align: right

.menu__submenu-banner-img
    max-width: 100%
    max-height: 100%

.menu__submenu-banner-box
    padding-left: 10%

.menu__acco .acco__link
    line-height: 1.6

.menu__acco .acco__item
    padding-right: 10px