.slider--bg-blue
    background-color: #2E4EA4

.slider__main
    width: 100%
    height: 100%
    min-height: 100vh

.slider__main .title__slider
    max-width: 540px
    color: #ffffff

.slider__button-day-news
    margin-bottom: 30px

.slider__item
    background-size: cover
    background-position: center
    background-repeat: no-repeat

.slider__main .slider__item
    display: flex
    flex-wrap: wrap
    padding-top: 408px
    padding-bottom: 195px
    min-height: 100vh

.slider__main .slider__item .slider__button-box
    margin-top: auto

.slider__main .slider__item-inner
    display: flex
    flex-direction: column

.slider .owl-nav
    width: 100%
    max-width: 104px
    padding: 0 30px
    margin: 0 auto
    position: absolute
    bottom: 100px
    left: calc((100vw - 1230px) / 2)

.slider .owl-dots
    display: flex
    flex-wrap: wrap
    justify-content: flex-end
    width: 100%
    max-width: 1126px
    padding: 0 15px
    position: absolute
    bottom: 106px
    right: calc((100vw - 1230px) / 2)

.slider .owl-nav .arrow-next
    transform: rotate(-180deg)

.slider .owl-nav .arrow-next,
.slider .owl-nav .arrow-prev
    fill: #ffffff
    transition: all .5s

.slider--nav-black .owl-nav .arrow-next,
.slider--nav-black .owl-nav .arrow-prev
    fill: black

.slider .owl-nav .arrow-next:hover
    transform: scale(1.2, 1.2) rotate(-180deg)

.slider .owl-nav .arrow-prev:hover
    transform: scale(1.2, 1.2)

.slider .owl-nav .owl-next.disabled,
.slider .owl-nav .owl-prev.disabled
    opacity: .5
    pointer-events: none

.slider .owl-nav .owl-prev
    margin-right: 20px

.owl-dot span
    display: block
    width: 4px
    height: 4px
    border-radius: 50%
    background-color: #fff
    opacity: .2
    margin-right: 14px
    transition: all .5s

.slider--nav-black .owl-dot span
    background-color: #000

.owl-dot:last-child span
    margin-right: 0

.owl-dot.active span
    opacity: 1
    pointer-events: none

.owl-dot:hover span
    opacity: 1
    transform: scale(1.3, 1.3)

.slider__cards-box
    padding: 39px 0 68px

.slider__cards .slider__item
    display: block
    padding: 40px 15px 40px 15px
    width: calc(25% - 20px)
    min-height: 275px
    overflow: hidden
    margin: 0 10px
    border: 1px solid #E3E3E3
    text-decoration: none
    transition: all .3s

.slider__cards .slider__item:hover
    background-color: #fff

.slider__cards .owl-item .slider__item
    width: 100%
    height: 100%
    margin: 0

.slider__cards .slider__icon
    margin-bottom: 37px
    height: 112px
    display: flex
    justify-content: center
    align-items: center
    overflow: hidden

.slider__cards .slider__icon svg
    fill: #fff !important
    stroke: #fff !important
    transition: all .3s

.slider__cards .slider__item:hover .slider__icon svg
    fill: #2E4EA4 !important
    stroke: #2E4EA4 !important

.slider__cards .slider__icon .svg-projects
    width: 96px
    margin-right: calc(50% - 56px)
    margin-left: calc(50% - 40px)


.slider__cards .slider__item .slider__title
    font-size: 18px
    line-height: 22px
    color: #E3E3E3
    text-align: center
    font-weight: bold
    transition: all .3s

.slider__cards .slider__item:hover .slider__title
    color: #2E4EA4

.slider__cards.owl-carousel .owl-stage
    display: flex

.slider__cards .owl-dots
    width: 100%
    justify-content: center
    max-width: none
    right: auto
    left: 0
    bottom: -30px

.slider__cards .owl-nav
    position: static
    max-width: none
    width: auto
    bottom: 0
    left: 0
    padding: 0

.slider__cards .owl-next,
.slider__cards .owl-prev
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    top: 50%
    width: 50px
    height: 50px
    background-color: #E3E3E3 !important
    opacity: 1
    transform: translate(0, -50%)
    z-index: 50
    transition: background-color .3s

.slider__cards .owl-prev
    left: -25px

.slider__cards .owl-next
    right: -25px

.slider__cards .owl-next:hover,
.slider__cards .owl-prev:hover
    background-color: #2A2C34 !important

.slider__cards .arrow-prev,
.slider__cards .arrow-next
    fill: #2E4EA4
    transition: all .3s

.slider__cards .owl-nav .arrow-prev:hover
    transform: scale(1)

.slider__cards .owl-nav .arrow-next:hover
    transform: rotate(-180deg) scale(1)

.slider__cards .owl-prev:hover .arrow-prev,
.slider__cards .owl-next:hover .arrow-next
    fill: #fff

.slider__cards .owl-nav .owl-next.disabled,
.slider__cards .owl-nav .owl-prev.disabled
    opacity: 1
    display: none

.slider__photo.owl-carousel .owl-stage
    display: flex
    flex-wrap: wrap

.slider__photo .slider__item
    height: 100%

.slider--nav-in-bar .owl-nav
    padding: 0
    max-width: 45px
    top: -125px
    right: 0
    left: auto
    bottom: auto

.slider--nav-in-bar .owl-dots
    top: -118px
    bottom: auto
    padding: 0 40px
    max-width: calc(100% - 330px)
    right: 145px

.slider__comments.slider--nav-in-bar .owl-dots
    max-width: calc(100% - 230px)
    right: 45px

.slider__video .slider__item
    display: flex
    flex-direction: column
    min-height: 640px
    padding: 60px 50px
    position: relative
    text-decoration: none

.slider__video .slider__item-bg
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-position: center
    -webkit-background-size: cover
    background-size: cover
    background-repeat: no-repeat

.slider__video .slider__item:after
    content: ''
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    background-color: rgba(0,0,0,.4)

.slider__video .slider__item:before
    content: ''
    width: 43px
    height: 64px
    background-image: url(../img/icon-play.svg)
    background-position: center
    -webkit-background-size: contain
    background-size: contain
    background-repeat: no-repeat
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    z-index: 10

.slider__video .slider__item-title
    width: 50%
    color: #fff
    padding-right: 40px
    margin-top: auto
    margin-bottom: 25px
    z-index: 10

.slider__committees
    padding: 0 50px
    position: relative

.slider--nav-on-sides .owl-nav
    position: static
    right: 0
    left: 0
    top: 0
    bottom: 0
    padding: 0

.slider--nav-on-sides .owl-next,
.slider--nav-on-sides .owl-prev
    position: absolute
    top: 50%
    transform: translate(-50%, 0)

.slider--nav-on-sides .owl-next
    right: 0

.slider--nav-on-sides .owl-prev
    left: 0

.slider--dots-bottom .owl-dots
    max-width: none
    justify-content: center
    bottom: 0
    width: 100%
    left: 0

.slider__committees.slider--dots-bottom .owl-dots
    bottom: -43px

.slider--dots-theme-night .owl-dot span
    width: 8px
    height: 8px
    background-color: rgba(0,0,0,.1)
    border: 2px solid transparent
    opacity: 1
    margin: 0 14px
    transition: border .3s, transform .3s

.slider--dots-theme-night .owl-dot.active span
    border-color: #00539F

.slider--dots-theme-black .owl-dot.active span
    background-color: #000

.slider--dots-theme-black .owl-dot span
    background-color: rgba(0,0,0,.1)
    opacity: 1

.slider__sites
    padding-top: 70px
    padding-bottom: 140px

.slider__sites .slider__item
    width: calc(25% - 14px)
    margin-right: 14px
    border: 1px solid #E3E3E3
    padding: 33px 26px

.slider__sites .slider__img-box
    display: flex
    justify-content: center
    align-items: center
    width: 70px
    height: 70px
    overflow: hidden
    margin-bottom: 36px

.slider__sites
    position: relative
    
.slider__sites .slider__img
    max-width: 100%
    max-height: 100%
    overflow: hidden

.slider__sites:not(.owl-loaded)
    display: flex
    flex-wrap: wrap

.slider__sites:not(.owl-loaded) .slider__item
    margin-bottom: 15px

.slider__sites.owl-loaded .slider__item
    display: flex
    flex-direction: column
    width: 100%
    height: 100%
    margin-right: 0
    margin-bottom: 0

.slider__sites.slider--dots-bottom .owl-dots
    bottom: 96px

.slider__sites .owl-stage
    display: flex