.slider
  &__title
    max-width: 540px
    font-family: 'Merriweather', 'Arial', sans-serif
    font-size: 48px
    line-height: 160%
    color: #ffffff
  &__button-day-news
    margin-bottom: 30px
  &__item
    background-size: cover
    background-position: center
    background-repeat: no-repeat